version: "3.9"

services:
  gradio_app:
    build: .
    container_name: captioning_web_service
    ports:
      - "7860:7860"
    volumes:
      - .:/app
    restart: always
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]